@model IEnumerable<Pomelo.Net.Gateway.Server.Models.PublicRule>
@inject Pomelo.Net.Gateway.Association.AssociateServer server
@inject Pomelo.Net.Gateway.Tunnel.StreamTunnelContextFactory streamTunnelContextFactory
@{
    ViewData["Title"] = "Public Rules";
}

<div class="my-3 p-3 bg-white rounded shadow-sm" id="app">
    <h6 class="border-bottom border-gray pb-2 mb-0">Public Rules</h6>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Server Endpoint</th>
                <th>Destination Endpoint</th>
                <th>Stream Tunnel Provider</th>
                <th>Stream Router</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
            <tr>
                <td>@x.Id</td>
                <td>@x.ServerEndpoint</td>
                <td>@x.DestinationEndpoint</td>
                <td>@ViewBag.StreamTunnels[x.TunnelId].Name</td>
                <td>@ViewBag.StreamRouters[x.RouterId].Name</td>
                <td>
                    <a>Edit</a>
                </td>
            </tr>
            }
            @if (!Model.Any())
            { 
                <tr>
                    <td colspan="6">No public rule created</td>
                </tr>
            }
            <tr>
                <td colspan="6">
                    <a asp-action="Create">Create Public Rule</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>