@model Pomelo.Net.Gateway.Server.Models.User
@inject Pomelo.Net.Gateway.Association.AssociateServer server
@{
    ViewData["Title"] = Model.Username + " - Edit User";
}

<form method="post" asp-action="Edit" class="my-3 p-3 bg-white rounded shadow-sm" id="app">
    <h6 class="border-bottom border-gray pb-2 mb-0">Edit User</h6>
    <table class="table">
        <tbody>
            <tr>
                <td><strong>Username</strong></td>
                <td>
                    <input disabled type="text" value="@Model.Username" class="form-control" />
                    <input type="hidden" value="@Model.Username" name="username" class="form-control" />
                </td>
            </tr>
            <tr>
                <td><strong>Status</strong></td>
                @if (server.GetAssociateContextByUserIdentifier(Model.Username) == null)
                {
                    <td><span style="color: #007bff">Offline</span></td>
                }
                else
                {
                    <td><span style="color: #e83e8c">Online</span></td>
                }
            </tr>
            <tr>
                <td><strong>Password</strong></td>
                <td>
                    <input type="password" name="password" class="form-control" />
                    <small style="color: #888">Keep empty if you don't want to modify</small>
                </td>
            </tr>
            <tr>
                <td><strong>Role</strong></td>
                <td>
                    <select class="form-control" name="role">
                        <!option @(Model.Role == UserRole.User ? "selected" : "")>User</!option>
                        <!option @(Model.Role == UserRole.Admin ? "selected" : "")>Admin</!option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <input type="button" value="Delete" class="btn btn-danger" id="btn-delete-user" />
                    <span>@ViewBag.Info</span>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<form asp-action="Delete" asp-route-id="@Model.Username" method="post" id="frm-delete">
</form>
@section Scripts {
    <script>
        $('#btn-delete-user').click(deleteUser);
        function deleteUser() {
            if (confirm("Are you sure you want to delete this user?")) {
                $('#frm-delete').submit();
            }
        }
    </script>
} 