@model IEnumerable<Pomelo.Net.Gateway.Server.Models.User>
@inject Pomelo.Net.Gateway.Association.AssociateServer server
@inject Pomelo.Net.Gateway.Tunnel.StreamTunnelContextFactory streamTunnelContextFactory
@inject Pomelo.Net.Gateway.Tunnel.PacketTunnelContextFactory packetTunnelContextFactory
@{
    ViewData["Title"] = "Users";
}

<div class="my-3 p-3 bg-white rounded shadow-sm" id="app">
    <h6 class="border-bottom border-gray pb-2 mb-0">Users</h6>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Status</th>
                <th>Tunnels</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Username</td>
                    <td>@x.Role.ToString()</td>
                    @if (server.GetAssociateContextByUserIdentifier(x.Username) == null)
                    {
                        <td><span style="color: #007bff">Offline</span></td>
                    }
                    else
                    {
                        <td><span style="color: #e83e8c">Online</span></td>
                    }
                    <td>
                        @streamTunnelContextFactory.EnumerateContexts(x.Username).Count() TCP / @packetTunnelContextFactory.EnumerateContexts(x.Username).Count() UDP
                    </td>
                    <td>
                        <a asp-action="Tunnel" asp-controller="Home" asp-route-id="@x.Username">Tunnels</a>
                        <a asp-action="Edit" asp-route-id="@x.Username">Edit</a>
                    </td>
                </tr>
            }
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="5">No user created</td>
                </tr>
            }
            <tr>
                <td colspan="5">
                    <a asp-action="Create">Create User</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>